<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Page d'accueil</title>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <main>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores quasi aliquid ullam vel tenetur aspernatur quam voluptatum quas quia temporibus, architecto possimus dolore et ad repellendus magni facilis explicabo! Perspiciatis!</p>
    </main>
    <%- include('partials/footer.ejs') %>
</body>
</html>