<div class="card">
    <img src="<%= item.image %>">
    <div class="card-info">
        <div class="card-title"><%= item.name %> (<%= item.categorie %>)</div>
        <div class="card-price"><%= item.price %>€</div>
    </div>
</div>